body{
    background-color:blueviolet;
}

header{
    background-color: blueviolet;
    text-align: ;
}

#img-fenix{
    width:300px;
}
 .paragrafo{
    text-align: center;
    padding: 50px;
    font-size: 30px;
 }
 .titulo{
    text-align: center;
    padding: 30px;
    font-size: 70px;
 }

 .subtitulo{
    padding: 0px;
    font-size: 45px
 }

 #mitologia{
    width:800px;
    display: block;
    margin: 0 auto;
 }